.wrap {
  margin: 0 auto;
  /* background: pink; */
  width: 79%;
}
h1 {
  transform: rotate(-90deg);
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 3em;
  text-align: right;
  color: rgb(134, 9, 9);
}
main {
  display: flex;
  display: -ms-flexbox; 
	display: -webkit-flex;
	flex-flow: column nowrap;
  min-height: 100%;
  width: 55%;
  
}
canvas {
  border: 2px solid gray;
}
.b-parts {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(220, 220, 220, 0.22);
}
.parts b {font-size: 4em;}

#legs:last-child {
/* transform: rotate(-25deg); */
border: none;
}
#legs:nth-child(2){
  /* transform: rotate(25deg); */
}
 form {/* remove TBD */
  margin-bottom: 20%;
  flex-wrap: wrap;
}

/* Secret word: */

section ul {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  width: 100%;
  font-size: 4em;
  color: gray;
}
li[class^="reveal"]+b {
  position: relative;
  left: 0;
}

.keyboard {
max-width: 89%;
margin: 0 auto;
}
.kr1, .kr2, .kr3 {
  display: flex;
  display: -ms-flexbox; 
	display: -webkit-flex;
	flex-flow: row;
  max-width: 50%;
  letter-spacing: 6px;
}
.kr1 p, .kr2 p, .kr3 p {
  font-family: Courier New, Courier, monospace;
  font-weight: 700;
  font-size:1.2em;
  border: 2px dashed #C2c2c2;
  border-radius:8px; 
  padding: 1em;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
.kr1 p:hover, .kr2 p:hover, .kr3 p:hover, button:hover {
background-color: rgba(135, 219, 132, 0.479);
}
.kr2 {
  /* max-width: 70%; */
  margin: o auto;
  margin-left: 4.2%;
}

button {
  background-color: #fff;
  border-radius: 8px;
  font-size: 1.2em;
  margin-right: 2%;
}
.secretword ul li {
  display: inline-block;
  letter-spacing: .15em;
  margin: 0 .25em;
  text-align: center;
  padding-left: 2%;
  border-bottom: 3px solid gray;
  width: 50px;
}
li.conceal {
  border-bottom: 3px solid gray;
}
.conceal b {
  position: relative;
  left: -999999px; 
}
.reveal {
  position: relative;
  left: 0;
}
b.reveal {
  color: rgb(134, 9, 9);
transition: 2000;  
}
b[class^="reveal"] {
  position: relative;
  left: 0;
  color: rgb(134, 9, 9); 
}
.b-parts {
  position: relative;
  transition: 0.3s .1s;
  top:0; left:0;
}
p[class^="fail"] {
  background-color: rgba(150, 83, 91, 0.479);
}